.idea
/dataSources/
/dataSources.local.xml
/src/main/java/test.java
'src/main/java/test.java' 
/src/main/java/Test.java
'src/main/java/Test.java'
target/
.env
.idea/
*.iml
.classpath
.project
.settings/
.gradle/
build